
/* Main content */

#main h2 {
  clear: both;
  font-size: 26px;
  color: $bright-blue;
  margin: 0;
}

/* Deals Pages styles */

#main .dealsPages ul.dealList, #main ul.placesList {width: 880px;}

.dealsPages h3.cta1 {margin: 0;}
.dealsPages h3.cta1 a {color: $bright-blue; text-decoration: none;}
.dealsPages h3.cta1 a:hover {text-decoration: underline;}


/* Places Pages styles */

#main.places #busInfo {height: 280px; width: 288px;}
#main.places #busInfo #busLogo {background-repeat: no-repeat;}
#main.places #busInfo ul {
  padding: 0;
  font-family: "Arvo", helvetica, arial, sans-serif;
  font-size: 12px;
  }
#main.places #busInfo ul li {margin: 8px 0 0; font-weight: 700;}
#main.places #busInfo ul span {font-weight: 400;}

#main.places #dailyDeals {width: 428px; height: 280px; margin: 12px 0 12px 32px;}
#main.places #dailyDeals .listWrap {width: 105%;}
#main.places #dailyDeals h2 {font-size: 20px;}
#main.places #dailyDeals .listWrap > h3 {
  color: #CCCCCC;
  font-size: 40px;
  margin: 90px 28px 0 0;
  text-align: center;
  text-shadow: 2px 2px 3px white;
}
#main.places #dailyDeals .placesList {width: 436px;}
#main.places #dailyDeals .dealTab h4 {
  font-size: 50px;
  margin: 12px 0 0 0;
  height: 34px;
  width: 50px;
  float: left;
}
#main.places #dailyDeals .dealTab h4 span {
  font-size: 28px;
  top: -16px;
}
#main.places #dailyDeals .dealTab h4 span.off {
  font-size: 16px;
  left: -24px;
  top: 0;
}

#main.places #dailyDeals .dealTab h5 {
  line-height: 12px;
  position: relative;
  top: 20px;
  text-align: right;
  font-weight: 400px;
  font-size: 12px;
}
#main.places #dailyDeals .dealTab h5 span {font-weight: 700;font-size: 14px;}

#main.places #dailyDeals .dealTab div.row {height: 54px;}
#main.places #dailyDeals .dealTab h3 {font-size: 22px;margin: 0; padding: 13px 0 0;}
