
/* Main content */

#main h2 {
  clear: both;
  font-size: 26px;
  color: $bright-blue;
  margin: 0;
}

/* Deals Pages styles */

#main .dealsPages ul.dealList, #main ul.placesList {width: 880px;}

.dealsPages h3.cta1 {margin: 0;}
.dealsPages h3.cta1 a {color: $bright-blue; text-decoration: none;}
.dealsPages h3.cta1 a:hover {text-decoration: underline;}
