// **********************************************************************
// Deal and place tab styling
// **********************************************************************

.dealList, .placesList {
   padding: 0;
   position: relative;
}

.dealList li, .placesList li {list-style: none;}

.dealList > li, .placesList > li {
  overflow: hidden;
  float: left;
}

.placesList ul {padding: 0;}

// **********************************************************************
// Deal Tab
// **********************************************************************

.dealTab {
  display: block;
  float: left;
  width: 202px;
  height: 232px;
  margin-right: 14px;
  margin-bottom: 14px;
  color: $off-white;
  &:last-child { margin-right: 0; }
  a {
    color: $off-white;
    text-decoration: none;
    &:focus {outline: none;}
  }

  h4, h3 {
    font-weight: 700;
  }

  h4 {
    font-size: 90px;
    height: 50px;
    font-style: normal;
    line-height: 30px;
    margin: 16px 0 0;
    padding: 0 0 10px;
    span {
      font-size: 40px;
      position: relative;
      top: -36px;
      margin: 0;
      text-shadow: inset 0 1px 0 #333, 0 1px 0 white; 
      &.dollars {
        position: static;
        font-size: 90px;
        margin: 16px 0 0;
      } 
      &.off {
        font-size: 25px;
        left: -34px;
        top: -2px;
      }
      &.for {
        font-size: 24px;
        font-weight: 400;
        margin: 0 8px;
      }
      &.for2 {
        font-size: 60px;
        top: -24px;
      }
      &.off.offFix {
        left: -38px;
      }
    }
  } // end h4

  h3 {
    text-transform: uppercase;
    font-size: 24px;
    margin: 0;
    padding: 26px 0;
    line-height: 19px;
  }

  h5 {
    margin: 8px 0 0;
    font-size: 16px;
    font-weight: 700;
    text-transform: lowercase;
  }

  h6 {
    margin: 4px 0 0;
    font-size: 13px;
    text-transform: lowercase;
    span {
      font-weight: 700;
      margin-left: 4px;
    }
  }

  .dealStripe {
    background: url("/assets/./bodybg.jpg") repeat-x scroll left top transparent;
    @include border-radius(5px 5px 0 0);
    @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.5) inset);
    height: 10px;
    margin: 0;
    width: 100%;
    &.food {
      background-image: url("/assets/./bluestripes.jpg");
    }
    &.drink {
      background-image: url("/assets/./greenstripes.jpg");
    }
  }
  .dealData {
    padding: 14px; 
  }

  .row {
    background: url("/assets/./horDiv.jpg") repeat-x left bottom transparent;
  }
} // end .dealTab

.listWrap {
  overflow: hidden;
  width: 100%;
  min-height: 270px;
}
  
// **********************************************************************
// Places Tab
// **********************************************************************

.placesTab {
  height: 114px;
  .dealData { padding: 0 14px;}

  h3 {
    font-size: 20px;
    padding: 17px 0;
  }
  h5 {
    font-size: 14px;
    margin: 4px 0 0;
  }
  h6 {
    font-weight: 700;
    color: $bright-green;
    text-transform: uppercase;
    margin-top: 2px;
    font-size: 16px;
    &.noDeals {color: $dark-red;}
  }
  .dealStripe {background-image: url('/assets/./bodybg.jpg');}
}
