// **********************************************************************
// Styles for page sorters and filters
// **********************************************************************

#sorterWrap {
  position: relative;

  input.sb-select {
    background: url("/assets/./dropDownBG.jpg") no-repeat right bottom transparent;
  }

  div.drop {
    margin-left: 8px;
  }

  .sb-select {
    padding: 6px 10px 7px;
    margin: 0 13px 0 0;
    text-decoration: none;
    width: 154px;
    font-family: georgia, times, serif;
    font-style: italic;
    font-size: 15px;
    text-align: left;
    z-index: 21;
    @include border-radius(5px);
    @include box-shadow(0 1px 0 white, inset 0 1px 0 white);
    border: 1px solid $light-gray;
    background: url("/assets/./box1bg.png") repeat #bbb;
    @include background(linear-gradient(center bottom , rgba(178, 178, 178, 0.1) 4%, rgba(255, 255, 255, 0.4) 36%), url("/assets/./box1bg.png"));
    &:focus {
      @include box-shadow(0 0 0 1px $bright-blue);
    }
  }
  .sb-dropdown {
    background: url("/assets/./bodybg.jpg") repeat scroll 0 0 transparent;
    @include box-shadow(0 0 4px rgba(0, 0, 0, .2), inset 0px 6px 8px -8px rgba(0, 0, 0, .5));
    display: none;
    font-size: .9em;
    left: 5px;
    list-style: none;
    margin: 0;
    padding: 12px 5px 5px 5px;
    position: absolute;
    top: 1.35em;
    width: 153px;
    z-index: 20;
    @include border-radius(3px);
    @include box-shadow(1px 1px 0px white);
    opacity: 0.98;
    border: 1px solid #CCCCCC;
    a {
      color: #444;
      display: block;
      padding: 10px 0 10px 26px;
      text-decoration: none;
      font-size: 15px;
      font-style: italic;
      @include border-radius(3px);
    }
    a:hover, .selected {
      background: #ddd;
      @include border-radius(3px);
    }
  } // end .sb-select
  .sb-custom {
    cursor: pointer;
    display: inline;
    position: relative;
    width:  100%;
  }
  h3 {
    &.cta2 {
      margin: 6px 0 0 0;
    }
  }
  a.reverse {
    background: url("/assets/./dropDownBG.jpg") no-repeat scroll left bottom transparent;
    border: 1px solid $light-gray;
    @include border-radius(5px);
    @include box-shadow(0 1px 0 white, 0 1px 0 white inset);
    display: block;
    float: right;
    height: 24px;
    margin: 0 0 0 8px;
    padding: 3px 10px 5px;
    text-indent: -9999px;
    width: 19px;
    &:active {
      @include box-shadow(0 0 0 1px $bright-blue);
    }
    &:focus {
      outline: none;
    }
  }
}

ul.radio {
  margin: 0 13px; 
  padding: 0;
  @include box-shadow(0 1px 0 white, inset 0 1px 0 white);
  li {
    display: block;
    float: left;
    padding: 6px 10px 7px;
    font-style: italic;
    font-size: 15px;
    text-align: left;
    border: 1px solid $light-gray;
    border-left: none;
    background: url("/assets/./box1bg.png") repeat #bbb;
    margin: 0;
    @include background(linear-gradient(center bottom , rgba(178, 178, 178, 0.1) 4%, rgba(255, 255, 255, 0.4) 36%), url("/assets/./box1bg.png"));
    &:first-child {
      @include border-radius(5px 0 0 5px);
      border-left: 1px solid $light-gray;
    }
    &:last-child {
      @include border-radius(0 5px 5px 0);
    }
    &.active {
      @include background(linear-gradient(center top , rgba(178, 178, 178, 0.4) 4%, rgba(255, 255, 255, 0.4) 66%), url("/assets/./box1bg.png"));
      @include box-shadow(inset 1px 1px 3px rgba(black, .2));
    }
    a {
      text-decoration: none;
      color: $dark-gray;
    }
  }
}

select.sparkbox-custom { display: none; }
