// ==|== Global Body Styles

// Colors
$bright-blue: #439ec8;
$bright-green: #92c202;
$dark-gray: #383735;
$light-gray: #d4d2d2;
$off-white: #f1fffe;
$dark-red: #c25130;

@font-face {
  font-family: Arvo;
  src: url('/assets/./Arvo-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Arvo;
  src: url('/assets/./Arvo-Bold.ttf');
  font-weight: bold;
}

body {
  background: url("/assets/./bodybg.jpg") repeat transparent;
  font-family: georgia, times, serif;
  color: #444444;
}

p {
  font-family: georgia;
  font-size: 14px;
  line-height:23px;
}

header, #content, #footerwrap {
  width: 968px;
  padding: 0 24px;
  margin:0 auto;
}

body p a {
  color: $bright-blue;
  font-style: italic;
  &:visited { color: $bright-blue; }
  &:hover { color: $bright-green; }
}

h1, h2, h3, h4, h5, h6 {font-family: "Arvo", helvetica, arial, sans-serif; font-weight: 400;}

#sitestripe {
  background: url("/assets/./box2bg.jpg") repeat scroll 0 0 #BBBBBB;
  height: 10px;
  opacity: 0.3;
  width: 100%;
}
