// **********************************************************************
// Index page styles
// **********************************************************************

#homepage {
  #todaysDeals {
    padding: 24px 0;
    width: 100%;
    h2{ margin-left: 54px; }
    > a { 
      margin-right: 54px;
      margin-top: 10px;
      text-decoration: none;
      color: $dark-gray;
    }
    ul.dealList {
      overflow: hidden;
      width: 9999px;
      li {
        position: relative;
      }
    }
    .slidernav {
      background: url('/assets/./arrowSprite.png') no-repeat left top transparent;
      width: 37px; height: 38px;
      margin: 110px 9px 0;
      #rightNav {background-position: 0 0;}
      #rightNav:hover {background-position: 0 -38px;}
      #leftNav {background-position: -37px 0;}
      #leftNav:hover {background-position: -37px -38px;}
    }
  } // end #todaysDeals
  #todaysDealsWrap {
    width: 866px;
    overflow: hidden;
    margin-left: 44px;
  }
  #newsFeed {
    // margin: 14px 14px 0 52px;
    // width: 478px;
    p {
     font-style: italic;
     font-size: 16px;
     line-height: 29px;
     text-shadow: 0 1px 0 white;
    }
  }
  #twitterFeed {
    margin-top: 14px;
    .twitter-follow-button {margin-top: 16px;}
  }
}
