
//  Header styles

header {
  margin-top: 36px;
  position: relative;
  img {
    float: left; 
    width: 176px; 
    height: 175px;
    position: relative;
    z-index: 5;
    @include border-radius(80px);
  }
  h2 {
    color: #92C202;
    float: left;
    margin: 15px 0 10px 8px;
  }
}

//  Nav styles
nav ul {
  height: 73px;
  padding: 0;

  &.mainnav {
    float: left;
    margin-left: -40px;
    margin-top: 0;
    width: 480px;
    padding: 0;
  }
  &.rightnav {
    float: right;
    margin-top: 4px;
    width: 220px;
  }
  li {
    display: inline;
    width: 106px;
    float: right;
    &.active a {
      color: $bright-green;
    }
  }

  &.box li {
    background: url("/assets/./navDiv.jpg") right 10px no-repeat;
    height: 73px;
    &.last {
      background-image: none;
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: #439ec8;
    font-family: "Arvo", helvetica, arial, sans-serif;
    font-size: 20px;
    line-height: 19px;
    padding: 25px 10px 0;
    text-align: center;

    &:visited { color: #439ec8; }
    &:hover, .cta:hover {
      color: #92c202;
      @include transition-property(color);
      @include transition-duration(.2s);
    }
    &.double { padding-top: 17px; }
    &.active { color: #92c202; }
  }
}

// Subnav styles
nav ul.subnav {
  @include border-radius(0);
  height: 30px;
  margin: -14px 0 0 160px;
  padding: 0;

  li {
    background-position: right 4px;
    height: 27px;
    padding: 0;
    width: auto;
    &.active a {
      color: $bright-green;
    }

    a {
      font-size: 16px;
      padding: 6px 12px;
      text-align: left;
      text-transform: lowercase;
    }
  }
}
