<!DOCTYPE html>
<html>
<head>
  <title>SloSpecials</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="sitestripe"></div>
<header></header>
<div id="subnavigation"></div>
<div id="content"></div>
<footer class="clearfix box2"></footer>

<div id="rails-yield" style="position: absolute; left: -9999px;">
  <%= yield %>
</div>

</body>
</html>
